html{
    scroll-behavior: smooth;
}
body{
    background:#5980b9;
    font-family:"Baloo Tamma 2", cursive;
}
.m-heading{
    font-family:"Roboto Slab", serif;
}
.navigation-link{
    border:2px solid transparent;
}
.navigation-link:hover{
    text-decoration:none;
    border-bottom:2px solid#ec47d6;
    transition:0.5 ease;
}